body {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
    min-width: 320px;
}

.nav-wrap {
    position: fixed;
    top: 0;
    width: 100%;
    height: 51px;
    background-color: black;
    z-index: 2;
}

#mobile-nav-wrap {
    width: 100%;
}

#mobile-nav {
    display: none;
    position: fixed;
    top: 51px;
    width: 100%;
    height: 100%;
    color: #FBFAF5;
    background: black;
    font-size: 32px;
    line-height: 60px;
}

#nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    border-top: 1px solid #FBFAF5;
}

.nav-item:hover {
    background: #303030;
    cursor: pointer;
}

#hamburger-wrap {
    float: right;
    padding: 8px 15px 0 0;
}

#hamburger {
    background: 0,0;
    outline: none;
    border: none;
    cursor: pointer;
}

.hamburger-line {
    width: 25px;
    height: 5px;
    border-radius: 5px;
    margin: 5px 0;
    background: #c4281d;
}

#location-search {
    width: 100%;
    height: 350px;
    text-align: center;
    background-image: url("https://images.pexels.com/photos/433155/pexels-photo-433155.jpeg?auto=compress&cs=tinysrgb");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#location-input {
    position: relative;
    top: 158px;
    width: 300px;
    height: 35px;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}

#location-input-button {
    position: relative;
    top: 158px;
}

.m-hour {
    background-color: rgba(220,239,255,.75);
    margin: 30px auto 25px;
    text-align: center;
    border-radius: 10px;
}

.m-condition-icon-wrap {
    width: 100%;
}

.m-hour-top {
    width: 100%;
}

.m-hour-top-half {
    width: 140;
    height: 80px;
    display: inline-block;
    vertical-align: top;
}

.m-hour-top-half p {
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.flex-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.flex-wrap-daily {
    display: flex;
    justify-content: center;
    align-items: center;
}

.m-stats {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.m-stats li {
    display: inline;
    margin-right: 15px;
    font-size: 1.25rem;
}

.forecast-panel {
    display: none;
    margin-top: 50px;
    text-align: center;
    font-size: 1.25rem;
}

.forecast-panel-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.forecast-panel-list li {
    display: inline;
    padding-left: 25px;
}

.panel-link-normal {
    text-decoration: none;
}

.panel-link-normal:hover {
    cursor: pointer;
    color: blue;
}

.panel-link-highlighted {
    text-decoration: underline;
    color: #c4281d;
    font-size: 1.5rem;
}

#forecast-wrap {
    margin-top: 40;
}

.block-divider {
    width: 125px;
    margin: 0 auto;
    border: 3px solid gray;
    opacity: .5;
    border-radius: 25px;
}

#earlier {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 30 auto 25;
}

#earlier:hover {
    cursor: pointer;
}

.arrow {
    font-size: 1.5rem;
    color: #c4281d;
}

#arrow-button-wrap {
    width: 100%;
    text-align: center;
}

.arrow-button-full {
    width: 100%;
    text-align: center;
    margin: 30 auto 25;
    font-size: 2rem;
}

.arrow-button-full:hover {
    cursor: pointer;
}

.arrow-button-next-small, .arrow-button-previous-small {
    display: inline-block;
    vertical-align: top;
    width: 45%;
    text-align: center;
    margin: 30 auto 25;
    font-size: 2rem;
}

.arrow-button-next-small:hover, .arrow-button-previous-small:hover {
    cursor: pointer;
}

.arrow-button-previous-small {
    padding-right: 15px;
    text-align: right;
}

.arrow-button-next-small {
    padding-left: 15px;
    text-align: left;
}

.m-daily {
    width: min-content;
    min-width: 320px;
    border-radius: 10px;
    margin: 15 auto 15;
    text-align: center;
    font-size: 1.5rem;
    background-color: rgba(220,239,255,.75);
}

.location-daily {
    margin: 30 auto 30;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
}

.date-daily {
    width: 100%;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 5;
}

.condition-wrap-daily {
    margin-bottom: 5;
}

.condition-description-daily {
    font-weight: bold;
}

.temp-wrap-daily {
    margin-bottom: 15;
}

.current-temp-daily {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
}

.temp-column-daily {
    padding: 0 20 0;
}

.temp-title-daily {
    margin-bottom: 5px;
    font-weight: bold;
}

.temp-title-high {
    color: #c4281d;
}

.temp-title-low {
    color: #0068c5;
}

.more-details {
    margin-top: 15;
    font-size: 1.25rem;
}

.details-link {
    text-decoration: none;
    font-size: 1.25rem;
}

.details-link:hover {
    cursor: pointer;
}

.details-value {
    font-weight: bold;
}

/*
.detail {
    width: 45%;
    margin: 0 auto;
    display: inline-block;
    vertical-align: top;
    font-size: 1.4rem;
    text-align: left;
}
*/

.news-block {
    display: flex;
    justify-content: center;
    align-items: center;
}

.news-image {
    max-width: 300px;
}

.news-title {
    font-weight: bold;
    margin-bottom: 10px;
    padding-right: 25px;
    max-width: 350px;
}

#news-header {
    text-align: center;
    font-weight: bold;
    text-align: center;
    font-size: 1.5rem;
    margin: 50 0 25;
}

.details-wrap {
    padding: 5 0 15 35;
    width: 480px;
    margin: 0 auto;
}

.detail {
    width: 46%;
    margin-left: 2%;
    margin-top: 10px;
    display: inline-block;
    vertical-align: top;
    font-size: 1.4rem;
    text-align: left;
}

.precip-chance-daily {
    width: 100%;
    text-align: center;
    margin-top: 10;
    font-size: 1.4rem;
}

@media only screen and (max-width: 360px) {
    .m-hour {
        width: 320px;
    }
    
    .details-wrap {
        padding: 5 0 15;
        width: 320px;
        margin: 0 auto;
    }
    
    .detail {
        width: 46%;
        margin-left: 2%;
        margin-top: 10px;
        display: inline-block;
        vertical-align: top;
        font-size: 1rem;
        text-align: left;
    }

    .precip-chance-daily {
        width: 100%;
        text-align: center;
        margin-top: 10;
        font-size: 1rem;
    }

    .news-block {
        display: inline-block;
        vertical-align: top;
    }

    .news-title {
        max-width: 300px;
        padding: 0;
    }

    .news-image {
        max-width: 200px;
    }
}

@media only screen and (min-width: 360px) and (max-width: 480px) {
    .m-hour {
        width: 360px;
    }

    .details-wrap {
        padding: 5 0 15;
        width: 360px;
        margin: 0 auto;
    }
    
    .detail {
        width: 46%;
        margin-left: 2%;
        margin-top: 10px;
        display: inline-block;
        vertical-align: top;
        font-size: 1.1rem;
        text-align: left;
    }

    .precip-chance-daily {
        width: 100%;
        text-align: center;
        margin-top: 10;
        font-size: 1.1rem;
    }

    .news-block {
        display: inline-block;
        vertical-align: top;
    }

    .news-title {
        max-width: 330px;
        padding: 0;
    }
}

@media only screen and (min-width: 480px) and (max-width: 600px) {
    .m-hour {
        width: 400px;
    }

    .details-wrap {
        padding: 5 0 15 10;
        width: 400px;
        margin: 0 auto;
    }
    
    .detail {
        width: 46%;
        margin-left: 2%;
        margin-top: 10px;
        display: inline-block;
        vertical-align: top;
        font-size: 1.3rem;
        text-align: left;
    }

    .precip-chance-daily {
        width: 100%;
        text-align: center;
        margin-top: 10;
        font-size: 1.3rem;
    }

    .news-block {
        display: inline-block;
        vertical-align: top;
    }

    .news-title {
        max-width: 450px;
        padding: 0;
    }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
    .m-hour {
        width: 480px;
    }

    .news-title {
        width: 175px;
        display: inline-block;
        vertical-align: top;
    }

}

@media only screen and (min-width: 1000px) {
    #forecast-wrap {
        display: inline-block;
        width: 520px;
        vertical-align: top;
        margin-right: 100px;
    }

    #news-wrap {
        display: inline-block;
        width: 300px;
        vertical-align: top;
    }

    .news-media {
        width: 150px;
    }

    .news-image {
        width: 150px;
    }

    #news-header {
        margin-top: 70px;
    }
}

#main-content {
    position: relative;
    text-align: center;
    top: 51px;
}

#news-wrap {
    text-align: center;
}

.news-divider {
    margin: 25 auto;
    width: 100%;
    max-width: 750px;
    border: 1px solid gray;
}

.news-media {
    width: 300px;
    display: inline-block;
    vertical-align: top;
}
