.i-large {
    font-size: 100px;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Karla', sans-serif;
}

.nav-wrap {
    width: 100%;
    height: 51px;
    background-color: black;
}

#mobile-nav-wrap {
    width: 100%;
}

#mobile-nav {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 51px;
    color: #FBFAF5;
    background: black;
    font-size: 32px;
    line-height: 60px;
    z-index: 1;
}

#nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav-item {
    border-top: 1px solid #FBFAF5;
}

.nav-item:hover {
    background: #303030;
    cursor: pointer;
}

#hamburger-wrap {
    float: right;
    margin: 8px 15px 0 0;
}

#hamburger {
    background: 0,0;
    outline: none;
    border: none;
    cursor: pointer;
}

.hamburger-line {
    width: 25px;
    height: 5px;
    border-radius: 5px;
    margin: 5px 0;
    background: #c4281d;
}

#location-search {
    width: 100%;
    margin-top: 10px;
    text-align: center;
}

#location-input {
    width: 300px;
    height: 35px;
    font-family: 'Karla', sans-serif;
    font-size: 18px;
}

.m-hour {
    width: 400px;
    margin: 30px auto 25px;
    text-align: center;
}

.m-condition-icon-wrap {
    width: 100%;
}

.m-hour-top {
    width: 100%;
}

.m-hour-top-half {
    width: 45%;
    height: 64px;
    display: inline-block;
    vertical-align: top;
}

.m-hour-top-half p {
    margin: 0;
    padding: 0;
    font-size: 1.5em;
}

.flex-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.m-stats {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.m-stats li {
    display: inline;
    margin-right: 15px;
    font-size: 1.1rem;
}

.forecast-panel {
    margin-top: 50px;
    text-align: center;
}

.forecast-panel-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.forecast-panel-list li {
    display: inline;
    padding-left: 10px;
}

.panel-link {
    text-decoration: none;
}

.block-divider {
    width: 125px;
    margin: 0 auto;
    border: 3px solid gray;
    opacity: .5;
    border-radius: 25px;
}

#earlier {
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin: 30 auto 25;
}

#earlier:hover {
    cursor: pointer;
}

.arrow {
    font-size: 1.5rem;
    color: #c4281d;
}

#hourly-tom {
    width: 100%;
    text-align: center;
    margin: 30 auto 25;
    font-size: 2rem;
}

#hourly-tom:hover {
    cursor: pointer;
}